################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/publish
/packages
/Retrolude/bin
/Retrolude/obj
/Interlude/bin
/Interlude/obj
/Prelude/Prelude/bin
/Prelude/Prelude/obj
.ionide/symbolCache.db

.vs
.fake
.ionide
/Interlude/Resources/default
/Interlude/Resources/defaultOrb
/Interlude/Resources/defaultBar
/Interlude/Resources/defaultArrow
/Interlude/Resources/FSharp.Formatting.Markdown.dll
/Interlude/Resources/FSharp.Formatting.Common.dll
