[submodule "externs/Interlude.Web"]
	path = externs/Interlude.Web
	url = https://github.com/YAVSRG/Interlude.Web
[submodule "externs/Prelude"]
	path = externs/Prelude
	url = https://github.com/YAVSRG/Prelude
[submodule "externs/Percyqaz.Shell"]
	path = externs/Percyqaz.Shell
	url = https://github.com/percyqaz/Percyqaz.Shell
[submodule "externs/Percyqaz.Common"]
	path = externs/Percyqaz.Common
	url = https://github.com/percyqaz/Percyqaz.Common
[submodule "externs/Percyqaz.Flux"]
	path = externs/Percyqaz.Flux
	url = https://github.com/kurulen/Percyqaz.Flux-macOS
