################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/publish
/packages
*/nupkg
*/bin
*/obj
.ionide/symbolCache.db

.vs
.fake
.ionide
.editorconfig
/nuget

/src/Resources/FSharp.Formatting.Markdown.dll
/src/Resources/FSharp.Formatting.Common.dll